body, html{
  height: 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  background-color: #001b2e;
  color: #f7e8a4;
  height: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  line-height: 1.5;
}
#navBar {
  width: 100%;
  height: 5%;
  background-color: #adb6c4;
}
#navBar a {
  color: #294c60;
  font-size: large;
}
#navBar a:hover {
  background-color: #f5cb5c;
  border: 1px solid;
  border-radius: 15%;
}
about-section {
    
  width: 100%;
  font-size: large;
}
name-image img {
    width: 95%;
  border: #001b2e 5px ridge;
  border-radius: 30%;
  transition-property: border-color;
    transition-duration: 1s;
}
name-image img:hover{

    border-color: aliceblue;
    transform: rotate(180deg);
}
#lowerHalf {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #294c60;
}
#projects {
    display: flex;
    justify-content: center;
  width: 50%;
}
#blogEntry {
  width: 40%;
  background-color: #f7e8a4;
  color: #001B2E;

}
.projectBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
.projectBox img{
    /* border: #f7e8a4 5px solid; */
    height: 100%;
    width: 80%;
    
}
.blogPost{
    /* display: flex;
    flex-wrap: wrap; */
    width: 75%;
    background-color: #294c60;
    color:#001B2E;
    text-align: center;
}
#mainBlog{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: #294c60;
    width: 100%;
    height: 70%;
  
    
}
#mainBlog a{
    color: #f7e8a4;
    
    
}
#mainBlog a:hover{
    cursor: crosshair;
}
form{
    
    text-align: center;
    width: 75%;
    align-items: center;
}
form input{
  width:50%;
}
#hi{
    transition-property: border, background-color, color;
    transition-duration: 5s;
}
#hi:hover{
    background-color: #f5cb5c;
    color: #001B2E;
    border: #294c60 solid 5px;
}
contact-me{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  justify-content: center;
  background-color: #294c60;
  border: #001B2E solid 5px;
  border-radius: 60%;
 
  
}